
<div class="container">

    <%for(let p of posts){%>
        <div class="mt-2 mb-2 border border-secondary p-3">
            
            <h2><%=p.postTitle%></h2>
            <%if(p.creator){%>
                <p>@<%=p.creator.username%></p>
            <%}%>
            <%=p.date%>
            <p><%=p.pp.substring(0,400)%>... <a href="/journal/show/<%=p.id%>"> ReadMore</a></p>
            <form action="/journal/saved/<%=p.id%>/add" method="post" class="d-inline"><button class="btn btn-primary">Save</button></form>
            
            <%if(p.creator&&user&&p.creator.id==user.id){%>
                <a href="/journal/edit/<%=p.id%>"><button class="btn btn-secondary btn-sm">Edit</button></a>
                <form class="d-inline-block" action="/journal/<%=p.id%>?_method=DELETE" method="POST"><button class="btn btn-secondary btn-sm">DELETE</button></form>
            <%}%>
            
        </div>
    <%}%>
</div>