<% layout('layout/boilerplate')-%>
<div class="container">
    <h1><%=post.postTitle%></h1>
    <p><%=post.pp%></p>
    <p>@<%=post.creator.username%></p>
    <p></p>
    <%if(post.creator.id==user.id){%>
    <a href="/journal/edit/<%=post.id%>"><button class="btn btn-secondary btn-sm">Edit</button></a>
    <form class="d-inline-block" action="/journal/<%=post.id%>?_method=DELETE" method="POST"><button class="btn btn-secondary btn-sm">DELETE</button></form>
    <%}%>
</div>